# 1D Arrays

## 1. Initializing a 1D Array (List)

In [1]:
arr = [1,2,3,4,5]
print(arr)

[1, 2, 3, 4, 5]

## 2. Traverse and Print a 1D Array

In [2]:
arr = [1,2,3,4,5]

for i in arr:
  print(i)

1
2
3
4
5

## 3. Find the Largest Element in a 1D Array

In [3]:
arr = [2,1,3,5,4]

largest = arr[0]

for i in arr:
  if i > largest:
    largest = i
print(largest)

5

## 4. Find the Smallest Element in a 1D Array

In [4]:
arr = [3,2,1,4,5]

smallest = arr[0]

for i in arr:
  if i < smallest:
    smallest = i
print(smallest)

1

## 5. Sum of All Elements in a 1D Array

In [19]:
arr = [2,2,3,4,1,6]

s = 0

for i in arr:
  s += i
print(s)

18

## 6. Find the Index of an Element

In [8]:
# find the index of element 34

arr = [12,56,78,34,12,90,87,65,43]

idx = arr.index(34)
print(idx)

3

## 7. Reverse a 1D Array

In [9]:
arr = [12,56,78,34,12,90,87,65,43]

arr.reverse()
print(arr)

[43, 65, 87, 90, 12, 34, 78, 56, 12]

## 8. Sort a 1D Array in Ascending Order

In [11]:
#using sort()
arr = [12,56,78,34,12,90,87,65,43]

arr.sort()
print(arr)

arr.sort(reverse=True)
print(arr)

[12, 12, 34, 43, 56, 65, 78, 87, 90]
[90, 87, 78, 65, 56, 43, 34, 12, 12]

In [33]:
#Using sorted
arr = [12,56,78,34,12,90,87,65,43]
print(sorted(arr))

[12, 12, 34, 43, 56, 65, 78, 87, 90]

## 9. Count Occurrences of an Element in a 1D Array

In [12]:
arr = [1,2,3,1,2,3,1,1,2,3]

cnt = arr.count(1)
print(cnt)

4

## 10. Check if an Element Exists in a 1D Array

In [13]:
arr = [12,56,78,34,12,90,87,65,43]

print(3 in arr)
print(78 in arr)

False
True

## 11. Find the Mean of a 1D Array

In [21]:
import builtins
arr = [12,56,78,34,12,90,87,65,43]

m = builtins.sum(arr) / len(arr)

print(m)

53.0

## 12. Remove an Element from a 1D Array

In [23]:
arr = [12,56,78,34,12,90,87,65,43]

print('Before Removing 78 ',arr)
arr.remove(78)
print('After Removing 78', arr)

Before Removing 78  [12, 56, 78, 34, 12, 90, 87, 65, 43]
After Removing 78 [12, 56, 34, 12, 90, 87, 65, 43]

## 13. Insert an Element at a Specific Position

In [24]:
arr = [12,56,78,34,12,90,87,65,43]

print('Original Array ',arr)
arr.insert(2,786)
print('786 inserted at index 2',arr)

Original Array  [12, 56, 78, 34, 12, 90, 87, 65, 43]
786 inserted at index 2 [12, 56, 786, 78, 34, 12, 90, 87, 65, 43]

## 14. Merge Two 1D Arrays

In [25]:
arr1 = [1,1,1,1,1]
arr2 = [2,2,2,2,2]

m_arr = arr1 + arr2
print(m_arr)

[1, 1, 1, 1, 1, 2, 2, 2, 2, 2]

## 15. Remove Duplicates from a 1D Array

In [29]:
arr1 = [1,1,1,1,1]

unique_arr = list(set(arr1))
print(unique_arr)

[1]

## 16. Find the Second Largest Element in a 1D Array

In [30]:
arr = [12,56,78,34,12,90,87,65,43]

arr.sort()
print(arr[-2])

87

## 17. Rotate a 1D Array (Right Rotation)

In [32]:
arr = [12,56,78,34,12,90,87,65,43]

arr = [arr[-1]] + arr[:-1]
print(arr)

[43, 12, 56, 78, 34, 12, 90, 87, 65]