# 1. Find the Maximum Subarray Sum (Kadaneâ€™s Algorithm)
Problem: Given an integer array arr, find the contiguous subarray (containing at least one number) which has the largest sum and return its sum.

In [5]:
# arr = [-2, 1, -3, 4, -1, 2, 1, -5, 4]

def max_subarray_sum(arr):
  global_max = arr[0]
  local_max = arr[0]

  for i in arr[1:]:
    local_max = max(i, local_max + i)
    global_max = max(global_max,local_max)

  return global_max

In [6]:
print(max_subarray_sum([-2, 1, -3, 4, -1, 2, 1, -5, 4]))

6

## 2. Two Sum Problem in a sorted array
Problem: Given an array of integers arr and a target integer target, return the indices of the two numbers that add up to the target.

In [36]:
def two_sum_sorted(arr, target):
  left = 0
  right = len(arr) - 1
  while left < right :
    s = arr[left] + arr[right]
    if s == target:
      return [left, right]
    elif s > target:
      right = right - 1
    else:
      left = left + 1

  return []

In [37]:
print(two_sum_sorted([3, 5, 7, 12, 22, 23, 34, 45, 67, 88, 990], 68))

[5, 7]

## 2. Two Sum Problem
Problem: Given an array of integers arr and a target integer target, return the indices of the two numbers that add up to the target.

In [40]:
def two_sum_unsorted(arr, target):
  tgt = target
  arr = arr

  for i in range(len(arr)):
    for j in range(i+1,len(arr)):
      if arr[i] + arr[j] == tgt:
        return [i,j]
  return []

In [41]:
print(two_sum_unsorted([3, 5, 7, 12, 22, 45, 67, 88, 990, 23], 68))

[5, 9]

## 3. Reverse an Array
Problem: Given an array, reverse the array in place (do not return a new array).

In [3]:
def reverse_arr(arr):
  lft = 0
  rt = len(arr) -1

  while lft < rt :
    arr[lft], arr[rt] = arr[rt], arr[lft]
    lft += 1
    rt -= 1
  return arr

In [19]:
arr = [3, 5, 7, 12, 22, 45, 67, 88, 990, 23]
print(arr)
print(reverse_arr(arr))

[3, 5, 7, 12, 22, 45, 67, 88, 990, 23]
[23, 990, 88, 67, 45, 22, 12, 7, 5, 3]

[990, 88, 67, 45, 22, 12, 7, 5, 3, 23]

## 4. Find the Duplicate Number
Problem: Given an array containing n + 1 integers where each integer is between 1 and n (inclusive), find the duplicate number.

In [5]:
def find_duplicate(arr):
  for i in arr:
    if arr.count(i) > 1:
      return i
  return None

In [8]:
print(find_duplicate([1, 4, 2]))

None

## 5. Move Zeros to the End
Problem: Given an array, move all zeros to the end while maintaining the relative order of the non-zero elements.

In [21]:
def move_zeros(arr):

  for i in range(len(arr)):
    if arr[i] == 0:
      arr.append(arr.pop(i))

  return arr

In [22]:
arr = [3, 5, 7, 0, 22, 0, 67, 88, 0, 23]
print(move_zeros(arr))

[3, 5, 7, 22, 67, 88, 23, 0, 0, 0]

## 6. Find the Missing Number
Problem: Given an array containing n distinct numbers taken from the range 1 to n+1, find the missing number.

In [23]:
def missing_number(arr):
  for i in range(1,len(arr)+2):
    if i not in arr:
      return i
  return None

In [25]:
print(missing_number([1, 2, 3, 5, 6]))

4

## 7. Find the Majority Element
Problem: Given an array, find the element that appears more than n/2 times, where n is the size of the array. Assume that such an element always exists.

In [26]:
#Majority means more than half
def majority_element(arr):
  for i in arr:
    if arr.count(i) > len(arr) / 2:
      return i
  return None

In [27]:
print(majority_element([3, 3, 4, 2, 4, 4, 2, 4, 4]))

SyntaxError: incomplete input (<ipython-input-27-b5d8fc1e1eff>, line 1)

# 8. Product of All Elements Except Self
Problem: Given an array arr, return an array result such that result[i] is the product of all the elements in arr except arr[i].

Example:

python
Copy code
arr = [1, 2, 3, 4]
# Output: [24, 12, 8, 6]

In [1]:
def prod_all_except_self(arr):
  res = []
  for i in range(len(arr)):
    prod = 1
    for j in range(len(arr)):
      if i!= j:
        prod *= arr[j]
        res.append(prod)
  return res

In [3]:
print(prod_all_except_self([1, 2, 3, 4]))

[2, 6, 24, 1, 3, 12, 1, 2, 8, 1, 2, 6]

# 9. Intersection of Two Arrays
Problem: Given two arrays, return an array containing their intersection (common elements), without duplicates.

Example:

python
Copy code
arr1 = [1, 2, 2, 1]
arr2 = [2, 2]
# Output: [2]

In [7]:
def arr_intersect(arr1,arr2):
  a1 = arr1
  a2 = arr2

  if len(a1) < len(a2):
    a1, a2 = a2, a1

  res = []
  for i in a1:
    if i in a2:
      res.append(i)
  return res

In [9]:
print(arr_intersect([1, 2, 3, 2, 1], [2, 3, 2]))

[2, 3, 2]

# 10. Find the Peak Element
Problem: A peak element in an array is an element that is greater than its neighbors. Find a peak element. You may assume that the array is non-empty.

Example:

python
Copy code
arr = [1, 3, 20, 4, 1, 0]
# Output: 20 (or any peak element)

In [10]:
def peak(arr):
  for i in range(len(arr)):
    if i == 0:
      if arr[i] > arr[i+1]:
        return arr[i]
    elif i == len(arr) - 1:
      if arr[i] > arr[i-1]:
        return arr[i]
    else :
      if arr[i] > arr[i-1] and arr[i] > arr[i+1]:
        return arr[i]
  return None

In [13]:
print(peak([1, 3, 20, 24, 41, 0]))

41